.teamView {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.quarterField {
    display: flex;
    flex-grow: 1;
    border-style: solid;
    border-width: 2px;
};